form {
  padding: 0 2rem;
}

button {
  background-color: #00cc00;
  color: white;
  padding: 0.75rem 1.25rem;
  border: none;
  margin: 0 1rem;
}

input {
  border: 1px solid #dcdcdc;
  padding: 0.24rem 0.75rem;
  font-size: 20px;
  color: #595959;
  margin: 0 1rem;
}

input:focus {
  outline: none;
  box-shadow: 0 0 5px #0099ff;
}
